.register-container {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url('/public/img/Login/Login.jpg');
    padding-top: 5vh; /* Espacio en la parte superior para el Navbar */
}

@media (max-width: 576px) {
    .register-container {
        padding: 1rem; 
    }

    .login-card {
        padding: 1.5rem; 
    }
}
